/* Master styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left{
    display: flex;
}

.nav-wrapper > .left > div{
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottem 0.5s;
}

.nav-link a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid blue;
}

.nav-link a:hover {
    color: blue;
}

.active-nav-link {
    border-bottom: 1px solid blue;
}

.active-nav-link a {
    color: blue !important;
}


/* Portfilo Styles */

.portfolio-wrappers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 850px;
    padding-right: 100px;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: white;
}

.img-text-wrapper .subtitle {
   transition: 1s;
    font-weight: 600;
    color: transparent;
}

/* Logo Styles */
.Logo {
    float: right;
    position: relative;
    left: 1100%;
}


/* Footer Styles */
footer {
    position: absolute;
    left: 0;
    top: 165%;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* Announcement bar Styles */
.announcement-bar {
    text-align: center;
    position: relative;
    z-index: 1;
    background: crimson;
    color: white;
}

.announcement-bar {
    padding: 10px 20px;
}

.announcement-bar__message {
    display: block;
    font-size: 1em;
    font-weight: 400;
    padding: 10px 20px;
}

/* Product Style */
.productHolder{
    width: 80%;
    margin-left: 10%;
    margin-top: 12%;

}

.pb{
    width: 33.33%;
    height: 200px;
    border-radius: 10px;
}

.pimage{
    width: 80%;
    margin-left: 10%;
    height: 300px;
    object-fit: contain;
}

.add{
    width: 80%;
    margin-left: 10%;
}

.atc{
    width: 78%;
    background-color: blue;
    float: right;
    padding: 10px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: whitesmoke;
    margin-top: 3%;
}

.atcb1, .atcb2, .atcb3, .atcb4, .atcb5, .atcb6, .atcb7, .atcb8, .atcb9{
    width: 14.41%;
    background-color: blue;
    padding: 10px;
    border: 0;
    height: 39px;
    font-weight: 600;
    color: whitesmoke;
    align-items: center;
    margin-top: 3%;
}


/* Cart Style */
.cartnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.cartnav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Lato', sans-serif;
    margin-left: -9%;
}
.cartnav .closecart {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.closecart{
    z-index: 5;
}

.cart{
    position: absolute;
    right: 5%;
    top: 20%;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    border: 0;

}

.cartTable{
    width: 90%;
    margin-left: 5%;
}
.cartRow{
    width: 100%;
    height: 50px;
}
.cartRow1{
    width: 100%;
    height: 10px;
}
.cartPrice{
    font-family: Lato, sans-serif;
    font-size: 15px;
    width: 70%;
    font-weight: 600;
    margin-left: 30%;
    color: Black;
}
.cartImg{
    width: 30%;
    margin-left: 0;
}
.cartImage{
    width: 100%;
    height: 50px;
    margin-left: 0;
    object-fit: cover;
}
.total{
    width: 90%;
    margin-left: 5%;
    margin-top: 155%;
    height: 50px;
}
.totalRow{
    width: 100%;
    position: absolute;
    top: 2%;
    left: 5%;
}
.totalWriting{
    width: 70%;
    color: Black;
    font-weight: 600;
    font-family: Lato, sans-serif;
    text-align: right;
}
.totalPrice{
    width: 30%;
    color: Black;
    font-weight: 600;
    font-family: Lato, sans-serif;
    text-align: right;
}

/*Text Styling*/
h1 {
    text-align: center;
}

.slideshow{
    width: 80%;
    max-height: 600px;
    object-fit: cover;
    margin-left: 10%;
}

.Subtile {
    text-align: center;
}